<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>included</title>
    </head>
    <body>
        <ui:component id="included">
            <p>This is an animated dialog which is useful for displaying information.<br/>The dialog window can be moved, resized and closed with the 'x' icon.</p>
            <h:button onclick="$('#pop').dialog('close'); return false;" value="Close"/>
        </ui:component>
    </body>
</html>
